<% @posts.each do |post| %>

  <div class="hero-unit">
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <p><%= link_to 'View detail', post, :class => 'btn' %></p>
  </div>

<% end %>


<br />

<div class="hero-unit narrow">
<%= link_to 'New Post', new_post_path, :class => 'btn btn-primary' %>
</div>
