<!DOCTYPE html>
<html>
<head>
  <title>Session</title>
  <%= stylesheet_link_tag    "bootstrap", "bootstrap-responsive", :media => "all" %>
  <%= javascript_include_tag "jquery", "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
